{% extends "base.html" %}
{% block main %}
        <svg id="Logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="5%"
             height="5%" viewBox="0 0 40 40">
            <defs>
                <style>
                    .cls-1 {
                        fill: url(#linear-gradient);
                    }

                    .cls-2 {
                        fill: #fff;
                    }
                </style>
                <linearGradient id="linear-gradient" x1="0.075" y1="0.075" x2="0.926" y2="0.926"
                                gradientUnits="objectBoundingBox">
                    <stop offset="0" stop-color="#e0c3fc"/>
                    <stop offset="1" stop-color="#ff4093"/>
                </linearGradient>
            </defs>
            <path id="Path_1" data-name="Path 1" class="cls-1"
                  d="M10,0H30A10,10,0,0,1,40,10V30A10,10,0,0,1,30,40H10c-5.523,0-9.994-.043-10,0V10A10,10,0,0,1,10,0Z"/>
            <path id="Path_2" data-name="Path 2" class="cls-2"
                  d="M4.5-43.47H6.343v1.8H4.5Zm10-4.73H7.766v6.532h1.64V-43.43h5.2A1.17,1.17,0,0,0,15.9-44.663V-46.75A1.343,1.343,0,0,0,14.5-48.2Zm-.867,3.334L9.379-44.88v-1.843H13.62c.488,0,.664.176.664.7v.664C14.285-44.988,14.122-44.866,13.634-44.866Zm8.077,3.2v-2.643L24.95-48.2H22.9L20.83-45.706,18.77-48.2H16.71l3.266,3.889v2.643Z"
                  transform="translate(11.581 74.756)"/>
        </svg>

    <main>



    </main>
{% endblock %}
